# .gitignore

# virtualenv and cache
myenv/
__pycache__/
*.pyc

# large model/checkpoint/log files
*.pt
*.bin
*.safetensors
*.zip
*.dylib
wandb/
training/legal-flan-model/
legal-flan-model/
*.ipynb_checkpoints/
